{:cljdoc.doc/tree
 [["Getting Started" {:file "doc/getting-started.md"}]
  ["Validation Rules" {:file "doc/validation-rules.md"}]
  ["Changelog" {:file "CHANGELOG.md"}]]
 :cljdoc/docstring-format :markdown}
